:root {
  --blue: rgb(10, 132, 255);
  --red: rgb(255, 69, 58);
  --white: rgb(242, 242, 247);
  --green: rgb(48, 209, 88);
  --black: rgb(0, 0, 0);
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  color: var(--white);
}

.btn {
  background-color: var(--white);
  color: var(--black);
}

.btn:hover {
  outline: var(--black) solid 3px;
}

.btn:active {
  outline: var(--black) solid 3px;
  /* transform: scale(0.97); */
}

.btn:focus {
  outline: var(--black) solid 3px;
  box-shadow: none;
}

.card {
  color: var(--black);
}

.btn-red {
  background-color: var(--red);
  color: var(--white);
}

.btn-red:hover {
  color: var(--white);
}

.btn-blue {
  background-color: var(--blue);
  color: var(--white);
}

.btn-blue:hover {
  color: var(--white);
}

.task-card:hover {
  transform: scale(1.01);
  cursor: pointer;
}
